<!DOCTYPE html>
<html lang="en"
    xxmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
                layout:decorator="layout">
<head>
  <meta charset="UTF-8">
  <title>Account Details</title>
</head>
<body>
<section layout:fragment="content">
<p th:text="${message}"></p>
<h2>Your account</h2>
Email: <td th:text="${user.username}"></td><br>
Date of birth: <td th:text="${user.dateOfBirth}"></td>
<ul th:each="wallet, iterStat: ${wallet}" th:class="${iterStat.odd}? 'odd'">
        Status: <td th:text="${wallet.status}"></td>
                 <a class="btn btn-primary btn-block" href="/recharge/10">Add 10</a>
                 <a class="btn btn-primary btn-block" href="/recharge/20">Add 20</a>
                 <a class="btn btn-primary btn-block" href="/recharge/50">Add 50</a>
                 <a class="btn btn-primary btn-block" href="/recharge/100">Add 100</a>
                   </ul>
<h2>Your history</h2>
<ul th:each="action, iterStat: ${actions}" th:class="${iterStat.odd}? 'odd'">

                                 <li>Created: <td th:text="${action.created}"></td></li>
                                 <li>Title: <td th:text="${action.actionType}"></td></li>
                                 <li>Amount: <td th:text="${action.amount}"></td></li>
                                 <li> <td th:text="${action?.horse?.name}"></td></li>

</ul>
</section>
</body>
</html>